@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

.react-loading-skeleton {
  --pseudo-element-display: block !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0, 0%, 9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;
    --primary: 196, 88%, 47%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 28, 91%, 54%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 28, 91%, 54%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 28, 91%, 54%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 196, 88%, 47%;
    --radius: 0.75rem;
  }
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: hsl(var(--foreground));
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #ffffff00;
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply scroll-smooth;
  }
  html {
    @apply scroll-smooth;
  }
  svg {
    @apply stroke-[1.2px];
  }
}

.ios-spinner {
  animation: spin 1.2s steps(8) infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.locked {
  overflow: hidden !important;
}

.loader {
  animation: rotate 2s linear infinite;
  z-index: 2;
  width: 34px;
  height: 34px;
}

.loader .path {
  stroke: #ffffff;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.highlight {
  @apply animate-pulse outline outline-2 outline-offset-2 outline-primary;
}

.link {
  @apply cursor-pointer px-1 text-primary underline-offset-2 hover:underline;
}

.login-background {
  background: rgb(245, 245, 245);
  background: linear-gradient(129deg, rgba(245, 245, 245, 1) 50%, rgba(49, 169, 225, 0.4990371148459384) 100%);
}

.confetti-explosion-screen-0-2-109 {
  z-index: 1000000 !important;
}

.truck {
  animation: bounce 0.4s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.loader-spinner {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid rgb(220, 220, 220);
  border-right-color: rgb(0, 0, 0);
  animation: l2 0.6s infinite linear;
}

.app-loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid rgb(220, 220, 220);
  border-right-color: rgb(0, 0, 0);
  animation: l2 0.6s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
